.main
  .main__header
    .main__header__left
      %h2.main__header__left__top
        test
      %ul.main__header__left__bottom
        Member：
        %li.main__header__left__bottom__list
          masa      
    = link_to 'Edit', "#", class: "main__header__right" 

  .main__contents
    .main__contents__talks
      .main__contents__talks__talk
        .main__contents__talks__talk__info
          .main__contents__talks__talk__info__talker
            saeko
          .main__contents__talks__talk__info__date
            2020/05/02(Sat) 16:27:29
        .main__contents__talks__talk__content
          content

      .main__contents__talks__talk
        .main__contents__talks__talk__info
          .main__contents__talks__talk__info__talker
            saeko
          .main__contents__talks__talk__info__date
            2020/05/02(Sat) 16:27:29
        .main__contents__talks__talk__content
          content


  .main__footer
    .main__footer__input
      .main__footer__input__left
        .main__footer__input__left__box
        %label{class: "main__footer__input__left__img"} 
          = icon('fas', 'image')
          %input{type: "file", class: "main__footer__input__left__img__file"}

      .main__footer__input__btn


