.main__contents__talks{data: {message: {id: message.id}}}
  .main__contents__talks__talk
    .main__contents__talks__talk__info
      .main__contents__talks__talk__info__talker
        = message.user.name
      .main__contents__talks__talk__info__date
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .main__contents__talks__talk__content
      - if message.content.present?
        %p.main__contents__talks__talk__content__detail
          = message.content
      = image_tag message.image.url, class:'main__contents__talks__talk__content_image'  if message.image.present?
